{%- if message.meta.data.lastTry -%}
Kontaktieren Sie unseren technischen Support. Wir helfen Ihnen, das Problem zu beheben.
{%- else -%}
Kontaktieren Sie unser Support-Team, wir helfen Ihnen, das Problem zu beheben. Der nächste Abbuchungsversuch erfolgt morgen.
{% endif %}
