<b>Neuer Kommentar zu Pass Nr. {{ message.meta.data.passTicketNumber }}</b>
Organisation: {{ message.meta.data.organizationName }}
Erstellt am: {{ message.meta.data.commentCreatedAt }}
Status: {{ message.meta.data.passTicketStatus }}
Adresse: {{ message.meta.data.passTicketAddress }}
Kommentartext: {{ message.meta.data.comment }}
