<html style="fmargin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<body style="margin: 0; font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Hallo!<br>
    Neue Abrechnung verfügbar.<br>
    <br>
    Um eine Abrechnung herunterzuladen und zu bezahlen, verwenden Sie bitte die Doma-App.<br>
    <br>
    App installieren:<br>
</p>
<ul style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    <li> Im App Store nach „Domiki" suchen</li>
    <li> Im Google Play nach „Doma" suchen</li>
    <li> QR-Code auf der Abrechnung scannen oder <a href="https://clck.ru/376TNL">Link</a> öffnen</li>
</ul>
<p style="font-family: Roboto, Arial, 'Nimbus Sans L', Helvetica, sans-serif; font-size: 18px; font-weight: 400; line-height: 32px; text-align: left;">
    Fügen Sie die Kontonummer in der App hinzu. Im Bereich „Zahlung" wählen Sie die Abrechnung, klicken auf „Zusätzlich" - „Abrechnung öffnen". Dort können Sie die Abrechnung herunterladen.
</p>
<br>
<br>
Wenn Sie keine E-Mails mit Abrechnungen erhalten möchten, klicken Sie bitte auf <a
        href="{{ env.serverUrl }}/api/unsubscribe?id={{ message.id }}">Abmelden</a>
</body>
</html>
