<b>Neues Ticket Nr. {{ message.meta.data.ticketNumber }}</b>
Organisation: {{ message.meta.data.organizationName }}
Erstellt am: {{ message.meta.data.ticketCreatedAt }}
Status: {{ message.meta.data.ticketStatus }}
Adresse: {{ message.meta.data.ticketAddress }}
Einheit: {{ message.meta.data.ticketUnit }}
Klassifikator: {{ message.meta.data.ticketClassifier }}
Problem: {{ message.meta.data.ticketDetails }}
